:host {
  width: 80%;
  overflow-y: scroll;
}

.search-tags {
  display: flex;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 1;
  padding-left: 10px;
  padding-bottom: 10px;
}

.videos-grid {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-auto-rows: auto;
  place-content: center;
  
  overflow-x: none;
  overflow-y: scroll;
}

.video-card {
  margin: 5px;

  .video-header-image {
    background-size: cover;
  }
}