:host {
  width: 80%;
  overflow-y: scroll;
}

.videos-grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-auto-rows: auto;
  place-content: center;
  
  overflow-x: none;
  overflow-y: scroll;
}
