<header class="toolbar">
  <div class="left header-item"></div>
  <div class="center header-item">
    <form class="search-form">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input #input type="text" matInput placeholder="Search" autocomplete="off">
        <mat-icon matSuffix (click)="search(input.value.toString())">search</mat-icon>
      </mat-form-field>
    </form>
    <button mat-icon-button aria-label="Voice search">
      <mat-icon mat-list-icon>keyboard_voice</mat-icon>
    </button>
  </div>
  <div class="right header-item">
    <button mat-icon-button aria-label="Create">
      <mat-icon>videocam</mat-icon>
    </button>
    <button mat-icon-button aria-label="Apps">
      <mat-icon>apps</mat-icon>
    </button>
    <button mat-icon-button aria-label="Notifications" color="accent">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button aria-label="Profile" color="primary">
      <mat-icon>face</mat-icon>
    </button>
  </div>
</header>
<app-video-nav>  
  <router-outlet></router-outlet>
</app-video-nav>
