.toolbar{
  display: flex;
  justify-content: space-between;
  height: 5%;
}

.header-item {
  display: flex;
  align-items: center;

  &.right {
    margin-right: 20px;
  }

  &.left {
    margin-left: 20px;
  }
}
