.toolbar{
  display: flex;
  justify-content: space-between;
  height: 5%;

  h1 {
    margin: 0;
  }
}

.header-item {
  display: flex;
  align-items: center;

  &.right {
    margin-right: 20px;
  }

  &.left {
    margin-left: 20px;
  }
}

.main {
  display: flex;
  height: 95%;

  .navigation {
    width: 20%;
    overflow-y: scroll;
  }
}